.catchphrase{
    margin-top: 10px;
    color: rgb(112,112,112);;
    font-size: 25px;
    text-align: center;
}
.portal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 320px);
}
.portal > a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 30px;
    width: 25%;
    height: 40%;
    color: #9B9B9B;
    margin: 50px;
    border-radius: 30px;
    background-position: center;
    background-size: cover;

}
.portal > a:hover{
    background-image: url("../images/light.jpg");
    box-shadow: 0 0 20px #9B9B9B;
}
.portal > a:first-child{
    background-image: url("../images/logo.jpg");
}
.portal > a:last-child {
    background-image: url("../images/light.jpg");
}