#inlogblok{
    position: absolute;
    margin: auto;
    width: 50vh;
    height: 50vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

#inlogform{
    text-align: center;
}
#inlogform > input{
    text-align:center;
    margin-top: 30px;
    width: 80%;
    display: inline-block;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #ccc;
}